**/.git
**/.gitignore
**/.dockerignore

**/bin
**/obj

**/.vs
**/.vscode
**/.idea

**/TestResults
**/coverage
**/coverage*
**/*.trx

**/node_modules
**/dist
**/build

**/*.user
**/*.suo
**/*.rsuser
**/*.log

**/appsettings.Local.json
**/appsettings.*.local.json

README.md
docs
tests

docker-compose.yml
docker-compose.*.yml
